*{
    margin:0;
}

body{
    -webkit-text-size-adjust: 100%;
    touch-action:pan-y;
    height:100vh;
    height:100dvh;
    width:100vw;
    background-image:url(img/bg.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
}

.menu{
    width:75vw;
    z-index:100;
    padding-bottom:7.5vh;
    padding-bottom:7.5vh;
}

.menu > div{
    opacity:0;
    transform: translate(30px,0px);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.menu > #fadein{
    opacity:1;
    transform: translate(0px,0px);
}

.menu > #fadeout{
    opacity:0;
    transform: translate(-30px,0px);
}

.menu_title{
    height:10vh;
    height:10dvh;
    width:100%;
    font-family: 'Montserrat', sans-serif;
    font-size:7.5vh;
    font-size:7.5dvh;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;

    margin-bottom:5vh;
    margin-bottom:5dvh;
}

.menu_content{
    width:100%;
    background-color:rgba(0,0,0,0.5);
    border-radius:3.5vh;
    border-radius:3.5dvh;
}

.menu_content_des{
    padding-top:2vh;
    padding-top:2dvh;
    padding-bottom:1vh;
    padding-bottom:1dvh;
    width:100%;
    font-size:2.8vh;
    font-size:2.8dvh;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-family: 'Zen Maru Gothic', sans-serif;
}

.menu_content_example{
    width:100%;
}


.menu_content_example_title{
    padding-top:1vh;
    padding-top:1dvh;
    padding-bottom:1vh;
    padding-bottom:1dvh;
    width:100%;
    font-size:2vh;
    font-size:2dvh;
    display:flex;
    justify-content:center;
    align-items:center;
    color:rgb(187, 187, 187);
    font-family: 'Zen Maru Gothic', sans-serif;
}

.menu_content_example_icon{
    display:flex;
    justify-content:center;
    align-items:center;
}

.menu_content_example_icon_img{
    height:23vh;
    height:23dvh;
    padding-top:1vh;
    padding-top:1dvh;
    padding-bottom:1vh;
    padding-bottom:1dvh;
}

.menu_content_detail{
    padding-top:1vh;
    padding-top:1dvh;
    padding-bottom:1vh;
    padding-bottom:1dvh;
    width:90%;
    margin-left:5%;
    margin-right:5%;
    font-size:2vh;
    font-size:2dvh;
    color:white;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    text-align:center;
    font-family: 'Zen Maru Gothic', sans-serif;
}

.menu_content_github{
    padding-top:3vh;
    padding-top:3dvh;
    padding-bottom:3vh;
    padding-bottom:3dvh;
    width:80%;
    margin-right:10%;
    margin-left:10%;
    font-size:2.5vh;
    font-size:2.5dvh;
    color:white;
    font-family: 'Zen Maru Gothic', sans-serif;
    display:flex;
    align-items:center;
}

