*{
    margin:0;
    overflow: hidden;
    user-select:none;
}

a{
    text-decoration: none;
    color:white;
}

html{
    overflow:hidden;
}

.no_scroll{
    position:fixed;
}

body{
    background-color:black;
    height:100vh;
    width:100vw;
    overflow: hidden;
    user-select:none;
}

.middle{
    width:100vw;
    height:100vh;
    background-image:url(bg.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:flex;
    flex-flow:column;
    align-items:center;
    justify-content:center;
}