.middle_detail_w{
    height:10vh;
    width:100%;
    display:flex;
    align-items:center;
    margin:20px;
}

.middle_detail_w_icon{
    height:9vh;
    margin:0.5vh;
    border-radius:30px;
}
.middle_detail_w_name{
    margin:20px;
    font-size:3vh;
    font-family: 'Kosugi', sans-serif;
}

.middle_detail_des{
    margin:20px;
    font-size:2vh;
    font-family: 'Kosugi', sans-serif;
}

.middle_detail_des_contact{
    font-size:2vh;
    font-family: 'Quicksand', sans-serif;
}